h1, p {
text-align: center;
}
div.listorder {
    list-style: none;
}
div.listnotorder{
    list-style: none;
}
li:hover {
    background-color: blue;
}
p:hover {
    background-color: chartreuse;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:hover {
    background-color: chartreuse;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}